extends layouts/main
include mixins/videoPlayer

block content
  .video__container--detail
    +videoPlayer({
      src:video.fileUrl
    })
    .video__info
      .info__section
        .title__container
          h5.video__title=video.title
          if loggedUser && video.creator.id === loggedUser.id
            a.video-edit__button(href=routes.editVideo(video.id)) Edit video
        span.video__views 조회수 #{video.views}
      .info__section
        .video__author
          a(href=routes.userDetail(video.creator.id))=video.creator.name
        p.video__description=video.description
    
    .video__comments
      if video.comments.length === 1
        span.video__comment-number
          span#jsCommentNumber 1
          |  comment
      else
        span.video__comment-number
          span#jsCommentNumber #{video.comments.length}
          |  comments
      form.add-comment#jsAddComment
        input(type="text", placeholder="Add a comment")
      ul.video__comments-list#jsCommentList
        each comment in video.comments.reverse()
          li
            span=comment.text