extends layouts/main
include mixins/videoPlayer

block content
  .video__container--detail
    +videoPlayer({
      src:video.fileUrl
    })
    .video__info
      .info__section
        .title__container
          h5.video__title=video.title
          if loggedUser && video.creator.id === loggedUser.id
            a.video-edit__button(href=routes.editVideo(video.id)) Edit video
        span.video__views 조회수 #{video.views} • 
        span.video__created-at= createdAt
      .info__section
        .video__creator
          a(href=routes.userDetail(video.creator.id))
            img.user-avatar--small(src=video.creator.avatarUrl)
          a(href=routes.userDetail(video.creator.id))=video.creator.name
        p.video__description=video.description
    
    .video__comments
      span.video__comment-number
        |댓글 
        span#jsCommentNumber #{video.comments.length}
        | 개
      form.add-comment#jsAddComment
        if loggedUser
          img.user-avatar--small(src=loggedUser.avatarUrl)
          input(type="text", placeholder="댓글을 입력하세요.")
        else
          input(type="text", value="댓글을 남기려면 로그인이 필요합니다.", disabled)
      ul.video__comments-list#jsCommentList
        each comment in video.comments.reverse()
          li
            a.comment__user-avatar(href=routes.userDetail(comment.creator.id))
              img.user-avatar--small(src=comment.creator.avatarUrl)
            .comment
              .comment-author__container
                a.comment-author(href=routes.userDetail(comment.creator.id))=comment.creator.name
                if loggedUser && loggedUser.id === comment.creator.id
                  a.comment-delete-btn(href=routes.deleteComment(video.id, comment.id)) 삭제
              span.comment-text=comment.text